body {
  margin: 0;
  height: 100%;
}

/* background.js */
#background {	
	position:fixed;
	background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: 100%;
  height: 100%;
	margin: 0;
  padding: 0;
  z-index: -1;
}

#post {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  grid-column: 1 / -1;
  padding: 1rem;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(7px);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px 15px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
 }

.content {
  grid-column: 2 / 3;
  background: none;
  padding: 1rem;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  display: inline-table;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 15px;
  color: #50FA7B;
  border-top: 5px solid #50FA7B;
  border-left: 5px solid #50FA7B;
  border-right: 5px solid #50FA7B;
  border-bottom: 5px solid #50FA7B;
  border-radius: 15px 15px;
}
.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}
.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}
.post-footer-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 15px;
}
.post-footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.post-content {
  padding: 2em;
  border-radius: .3em ;
  box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
  font-style: italic;
}
p {
  margin-top: 0;
}

.post-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-bottom: 10px;
}
/*============comments================*/
.comment {
  display: inline-table;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 15px;
  color: #50FA7B;
  border-top: 5px solid #50FA7B;
  border-left: 5px solid #50FA7B;
  border-right: 5px solid #50FA7B;
  border-bottom: 5px solid #50FA7B;
  border-radius: 15px 15px;
}
.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.comment-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}
.comment-footer-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 15px;
}
.comment-footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.comment-content {
  padding: 2em;
  border-radius: .3em ;
  box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
  font-style: italic;
}
p {
  margin-top: 0;
}
.comments-conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*============footer================*/
.create-comment-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 95%;
  grid-column: 1 / -1;
  padding: 1rem;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(7px);
  z-index: 1;
  border-radius: 15px 15px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

button {
  text-align: center;
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1;
  margin: 3px;
  padding: 5px 12px;
  color: #50FA7B;
  transition: 0.5s;
  border-radius: 7px 7px;
}
btn:hover, btn:focus {
  border-color: #50FA7B;
  background-color: #50FA7B;
  color: #000;
}
.btn:hover, .btn:focus {
  box-shadow: inset 0 0 0 2em #50FA7B;
  color: #000;
}

textarea{
  font-family: "MBPictureHouseTwo";  
  background-color: #50FA7B;  
  color: #000;
  border: none;  
  outline: none; 
  min-width: 500px; 
  font-size: 20px;
  padding: 10px;
  border-radius: 35px 35px;
  box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.2);
  height: 25px;
  margin-right: 20px;
}

input[type="submit"] {
  background-color: #50FA7B;
  color: #000;
  font-family: "MBPictureHouseTwo";
  border: 1px solid #50FA7B;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px 7px;
  transition: all 0.6s ease-in-out; 
  box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.2);
}

input[type=submit]:focus {  
  outline: 5px solid transparent;  
  margin-left: 100px;
}
input[type=submit]:hover {  
  background-color: #000;
  color: #50FA7B;
  box-shadow: inset 0 0 0 2em #000;
  border: 1px solid #50FA7B;
  transition: all 0.6s ease-in-out; 
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@font-face { 
  font-family: "MBPictureHouseTwo"; 
  src: url("/static/fonts/MBPictureHouseTwo.ttf") format("truetype"); 
  font-style: bold;
  font-weight: normal; 
  font-size: 32px;
} 
